@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-5 font-bold;
  }

  input {
    @apply block 
      w-full 
      rounded-lg 
      border 
      border-gray-300 
      bg-gray-50 
      p-2.5 
      text-sm 
      text-gray-900 
      focus:border-blue-500 
      focus:ring-blue-500;
  }

  label {
    @apply mb-2 
      block 
      text-sm 
      font-medium 
      text-gray-900 
      dark:text-white;
  }
}

@layer components {
  .btn {
    @apply relative 
      mb-2 
      mr-2 
      inline-flex 
      items-center 
      justify-center 
      overflow-hidden 
      rounded-lg 
      p-0.5 
      text-sm
    font-medium 
      text-gray-900;
  }

  .btn-purple {
    @apply bg-gradient-to-br from-purple-600 to-blue-500;
  }

  .btn:hover {
    @apply hover:text-white group-hover:from-purple-600 group-hover:to-blue-500;
  }

  .btn:focus {
    @apply focus:outline-none focus:ring-4 focus:ring-blue-300;
  }

  .btn-label {
    @apply relative rounded-md bg-white 
      px-5 py-2.5 transition-all 
      duration-75 ease-in 
      group-hover:bg-opacity-0 dark:bg-gray-900;
  }

  .fileInput {
    @apply block 
      w-full 
      cursor-pointer 
    rounded-lg border
    border-gray-300
      bg-gray-50 
      text-sm
    text-gray-900;
  }

  .wrapper {
    @apply mb-2 
    p-0.5;
  }
}
